  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

  * {
  	padding: 0;
  	margin: 0;
  	box-sizing: border-box;
  }

  :root {
  	--white: hsl(0, 0%, 100%);
  	--light-Gray: hsl(212, 15%, 55%);
  	--grayish-blue: hsl(220, 44%, 22%);
  	--dark-Blue: hsl(218, 44%, 22%);
  }

  body {
  	background-color: var(--light-Gray);
  	font-family: "Outfit";
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: space-between;
  }

  p {
  	font-size: 15px;
  	color: var(--grayish-blue);
  }

  h1 {
  	font-size: 1.2rem;
  	padding: 1em 0em;
  }

  main {
  	width: 270px;
  	text-align: center;
  	padding: 1em;
  	margin: 4em;
  	height: 400px;
  	background-color: var(--white);
  	border-radius: 12px;
  }

  img {
  	width: 240px;
  	height: 230px;
  	border-radius: 12px;
  }